/* Main document body */
body {
  width: 100%;
  height: 100%;
  padding: 5px;
  margin: auto auto;
  overflow: hidden; /*  Disable scrollbars */
  display: block; /* No floating content on sides */
  background-color: #222222;
}

/* !!Main NFT Min/Max Dimensions set here!! */
#nftBOX {
  position: absolute;
  z-index: 8;
  opacity: 1;
  min-height: 64px;
  min-width: 64px;
  max-height: 720px;
  max-width: 720px;
  /* disable canvas to see outline, good for debugging */
  outline: 2px dashed #DDDDFF;
  outline-offset: -6px;
}

/* Primary canvas we draw to */
#canvasMain {
  position: absolute;
  z-index: 1;
  opacity: 1;
  top: 0px;
  left: 0px;
  outline: 2px solid #ff7d32;
  outline-offset: -2px;
  background-color: #8d8d8d;
}